$primary-color-light: #007bbf;
$secondary-color-light: #20242b;
$tertiary-color-light: #92c646;
$neutral-color-light: #ffffff;
$neutral-color-variant-light: #eeeff0;
$error-color-light: #d23729;

$primary-color-dark: #026fad;
$secondary-color-dark: #20242b;
$tertiary-color-dark: #a2d830;
$neutral-color-dark: #747c89;
$neutral-color-variant-dark: #414956;
$error-color-dark: #d23729;

$text-color-black: black;
$text-color-white: white;

$border-radius: 2px;
