$primary-color-light: #007bbf;
$secondary-color-light: #20242b;
$tertiary-color-light: #92c646;
$neutral-color-light: #ffffff;
$neutral-color-variant-light: #eeeff0;
$error-color-light: #d23729;

$border-radius: 2px;
