<div class="grid-container">
  @if (workspaceName$ | async; as workspaceName) {
    @switch (workspaceName) {
      @case (workspace.Dashboard) {
        <app-workspace-selector></app-workspace-selector>
      }
      @case (workspace.Filter) {
        <app-form-filter [widgetInput]="filterState()"></app-form-filter>
      }
      @case (workspace.Button) {
        <app-color-showcase></app-color-showcase>
      }
      @case (workspace.CheckboxTree) {
        <app-checkbox-tree></app-checkbox-tree>
      }
    }
  }
</div>
