<nav
  mat-tab-nav-bar
  focusOnNavigation
  mat-stretch-tabs="false"
  [tabPanel]="panel"
  [class.tabs-light]="!(isDarkTheme$ | async)"
  [class.tabs-dark]="isDarkTheme$ | async"
>
  @for (workspace of workspaces; track workspace) {
    <a
      mat-tab-link
      [routerLink]="'/' + workspace"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
      [class.inactive-light]="!rla.isActive && !(isDarkTheme$ | async)"
      [class.inactive-dark]="!rla.isActive && (isDarkTheme$ | async)"
    >
      {{ workspace }}
    </a>
  }
</nav>
<div class="gap"></div>
<mat-tab-nav-panel #panel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
