@use "@angular/material" as mat;
@use "../../styles/vars" as vars;
@use "../../styles/mixins" as mixins;

@mixin main-table($theme: "light") {
  $neutral-variant: if(
    $theme == "light",
    vars.$neutral-color-variant-light,
    vars.$neutral-color-variant-dark
  );

  background-color: $neutral-variant;
}

.inactive-light {
  @include main-table("light");
  border-radius: vars.$border-radius;
}

.inactive-dark {
  @include main-table("dark");
  border-radius: vars.$border-radius;
}

.tabs-light {
  margin: 5px 0;
  @include mixins.single-color-tabs("light");
}

.tabs-dark {
  margin: 5px 0;
  @include mixins.single-color-tabs("dark");
}

.gap {
  height: 5px;
  background-color: var(--mat-sys-surface-variant);
}
