@use "@angular/material" as mat;
@use "../../styles/vars" as vars;
@use "../../styles/mixins" as mixins;

.isInactive {
  background-color: var(--mat-sys-surface-variant);
  border-radius: vars.$border-radius;
}

.tabs {
  margin: 5px 0;
  @include mixins.single-color-tabs;
}

.gap {
  height: 5px;
  background-color: var(--mat-sys-surface-variant);
}
