@use "@angular/material" as mat;
@use "../../styles/vars" as vars;
@use "../../styles/mixins" as mixins;

@mixin button($theme: "light") {
  $tertiary-color: if(
    $theme == "light",
    vars.$tertiary-color-light,
    vars.$tertiary-color-dark
  );

  @include mat.button-overrides(
    (
      filled-container-color: $tertiary-color,
      filled-label-text-color: vars.$text-color-black,
      filled-container-height: 36px,
    )
  );
}

.button-accent-light {
  @include button("light");
}

.button-accent-dark {
  @include button("dark");
}

.table-tabs-light {
  // background-color: vars.$neutral-color-variant-light;
  // @include mixins.single-color-tabs("light");
  @include mat.tabs-overrides(
    (
      background-color: vars.$neutral-color-variant-light,
      // active-indicator-height: 100vh,
      // active-indicator-color: $neutral-color,
      // active-focus-indicator-color: $neutral-color,
      // active-hover-indicator-color: $neutral-color,
       // divider-height: 0,
    )
  );
}

.table-tabs-dark {
  // background-color: vars.$neutral-color-variant-dark;
  // @include mixins.single-color-tabs("dark");
}

.discovery {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 36px 56px;
}

.actions {
  display: flex;
  justify-content: space-between;

  .form {
    width: 40vw;
  }
}
