@use "@angular/material" as mat;
@use "../../styles/vars" as vars;
@use "../../styles/mixins" as mixins;

.button-accent {
  @include mat.button-overrides(
    (
      filled-container-color: vars.$tertiary-color-light,
      filled-label-text-color: black,
      filled-container-height: 36px,
    )
  );
}

.table-tabs {
  background-color: vars.$neutral-color-variant-light;
  @include mixins.single-color-tabs;
}

.discovery {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 36px 56px;
}

.actions {
  display: flex;
  justify-content: space-between;

  .form {
    width: 40vw;
  }
}
