<div class="discovery">
  <div class="actions">
    <mat-form-field appearance="outline" class="form">
      <input matInput [formControl]="form" placeholder="Search" />
    </mat-form-field>
    <button
      mat-flat-button
      (click)="toggleTheme()"
      class="actions button-accent"
    >
      Accent Button
    </button>
  </div>

  <mat-tab-group class="table-tabs">
    <mat-tab label="First"><app-discovery-table></app-discovery-table></mat-tab>
    <mat-tab label="Second">
      <app-discovery-table></app-discovery-table>
    </mat-tab>
    <mat-tab label="Third"><app-discovery-table></app-discovery-table></mat-tab>
  </mat-tab-group>
</div>
