<mat-form-field>
  <input
    matInput
    [formControl]="inputForm"
    [matAutocomplete]="auto"
    (input)="filterOptions()"
    placeholder="Type something..."
  />
  <mat-autocomplete #auto="matAutocomplete">
    @for (option of filteredOptions; track option) {
      <mat-option [value]="option" (onSelectionChange)="removeOption(option)">
        {{ option }}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
<mat-chip-set aria-label="Fish selection">
  @for (company of selectedOptions; track company) {
    <mat-chip>
      {{ company }}
      <mat-icon matChipRemove (click)="removeSelected(company)">
        cancel
      </mat-icon>
    </mat-chip>
  }
</mat-chip-set>
