@use "@angular/material" as mat;
@use "./app/styles/theme-colors" as my-theme;
@use "./app/styles/vars" as vars;
@use "./app/styles/mixins" as mixins;
@use "./app/styles/dark-theme-colors" as my-dark-theme;

body {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        primary: my-theme.$primary-color-light-palette,
        tertiary: my-theme.$tertiary-color-light-palette,
      ),
      typography: Roboto,
      density: -5,
    )
  );
}

html.dark-theme {
  color-scheme: dark;
  background: vars.$secondary-color-dark;
  color: vars.$neutral-color-dark;

  @include mat.theme(
    (
      color: (
        primary: my-dark-theme.$primary-palette,
        tertiary: my-dark-theme.$tertiary-palette,
      ),
      typography: Roboto,
      density: -5,
    )
  );
}

:root {
  @include mixins.component-overrides("light");
}

.dark-theme {
  @include mixins.component-overrides("dark");
}
